.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 10px; 
}
.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

/* OK */
.container{
    position: relative;
    border-radius: 15px;
    padding: 30px;
    width: min-content;
    height: 510px;
    background-color: white;
    background-image: url(./images/bg-pattern-desktop.svg), url(./images/illustration-woman-online-desktop.svg);
    background-position: left -570px top -290px, left -83px top 65px;
    background-repeat: no-repeat;
    font-family: 'Kumbh Sans', sans-serif;
    box-shadow: 0px 5px 30px #444;
}

#box{
    position: absolute;
    left: -90px;
    top: 200px;
}

#title{
    margin-bottom: 30px;
}

hr{
    margin: 15px 0px 15px 0px;
    border-color: hsl(240, 100%, 99%);
}

.accordion{
    margin-top: 20px;
    margin-left: 450px;
    margin-right: 50px;
}

.accordion .label{
    color: hsl(237, 12%, 33%);
    width: 400px;
    
    position: relative;
}

.accordion .label{
    position: relative;
    cursor: pointer;
}

.accordion .label:hover{
    color: hsl(14, 88%, 65%);
}

.accordion .label::before{
    content: url(./images/icon-arrow-down.svg);
    position: absolute;
    top: 50%;
    right: 20px;
    transition: 0.5s;
    transform: translateY(-50%);
}

.label.active::before{
    content: url(./images/icon-arrow-down.svg);
    transform: rotate(180deg);
    transition: 0.5s;
}

.content{
    position: relative;
    height: 0;
    transition: 0.5s;
    overflow-y: auto;
    color: hsl(240, 6%, 50%);
    padding-top: 10px;
    overflow: hidden;
}

.content.show{
    height: 67px;
    transition: 0.5s;
    overflow: hidden;
}

.label.active{
    font-weight: 700;
    transition: 0.5s;
}

@media screen and (max-width:375px){
}