.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 10px; 
}
.attribution a { color: hsl(228, 45%, 44%); }

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.container{
    display: flex;
    border-radius: 15px;
    padding: 30px;
    width: min-content;
    background-color: white;
    background-image: url(./images/bg-pattern-desktop.svg), url(./images/illustration-woman-online-desktop.svg);
    background-position: left -570px top -290px, left -83px top 65px;
    background-repeat: no-repeat;
    font-family: 'Kumbh Sans', sans-serif;
    box-shadow: 0px 5px 30px #444;
}

#box{
    position: relative;
    left: -125px;
    top: 170px;
}

#imgs{
    height: 420px;
    width: 476px;
}

hr{
    margin: 10px 0px 10px 0px;
    border-color: hsl(240, 5%, 91%);
}

.accordion{
    padding: 20px;
    margin-right: 50px;
}

.accordion .contentBx{
    color: hsl(237, 12%, 33%);
    width: 400px;
    margin: 10px 20px;
    position: relative;
}

.accordion .contentBx .label{
    position: relative;
    cursor: pointer;
}

.accordion .contentBx .label:hover{
    color: rgb(197, 119, 17);
}

.accordion .contentBx .label::before{
    content: url(./images/icon-arrow-down.svg);
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: 0.5s;
}

.contentBx.active .label::before{
    content: url(./images/icon-arrow-down.svg);
    transform: rotate(180deg);
    transition: 0.5s;
}

.contentBx .content{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.contentBx.active .content{
    height: auto;
    padding: 5px;
}

.contentBx.active .label{
    font-weight: 700;
    transition: 0.5s;
}