.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 10px; 
}
.attribution a { color: hsl(228, 45%, 44%); }

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.container{
    display: flex;
    border-radius: 15px;
    padding: 30px;
    width: min-content;
    overflow: hidden;
    background-color: white;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-position: left -570px top -290px;
    background-repeat: no-repeat;
    font-family: 'Kumbh Sans', sans-serif;
}

#woman{
    position: relative;
    left: -115px;
    top: 35px;
}

#box{
    /* resolver esse problema aqui*/
    position: sticky;
    left: -50px;
    top: -100px;

}

#imgs{
    height: 420px;
}

hr{
    border-color: hsl(240, 5%, 91%);
}

.questions{
    padding: 20px;
    margin-right: 50px;
}

.answer{
    display: none;
    color: hsl(240, 6%, 50%);
}

.arrow{
    float: right;
    padding: 5px;
}

.arrowopen{
    transform: rotate(180deg);
}

.qtn{
    color: hsl(237, 12%, 33%);
    width: 400px;
    margin: 25px 0px 25px 0px;
}

.arrflex p{
    display: inline;
}